{% extends 'recipes/base.html' %}
{% load static %}
{% block content %}

<div style="margin-top: 100px;">
{% load static %}  
{% load static %}<link rel="stylesheet" href="{% static 'home.css' %}">
<div class="category-div">
    <a class="category" href="#">Breakfast</a>
    <a class="category" href="#">Deserts</a>
    <a class="category" class="category" href="#">African</a>
    <a class="category" href="#">Occasions</a>
    <a class="category" href="#">About Us</a>
</div>
<h3 class="craving-text">WHAT I'M CRAVING FOR THIS WEEKEND</h3>
<p class="caption">Food that nourishes the body, fills the stomach and delights the eye</p>
<div class="craving-container-div">
    <div class="craving-div1" >
       <img class="craving1" src="{% static 'craving1.jpg' %}" alt="">
    </div>
    <div class="craving-div2">
        <img class="craving" src="{% static 'craving2.jpg' %}" alt="">   
        <img class="craving" src="{% static 'craving3.jpg' %}" alt="">   
        <img class="craving" src="{% static 'craving6.jpg' %}" alt="">   
        <img class="craving" src="{% static 'craving5.jpg' %}" alt="">   
    </div>
</div>
<hr style="margin-top: 80px;">
<div class="new-recipes-container">
    <h3 class="craving-text">LATEST RECIPES</h3>
    <div class="new-recipes-div">
        <div style="height: 510px;">
            <img class="new-recipes1" src="{% static 'new-recipes\hamburger.jpeg' %}" alt="">
        </div>
        <div class="new-recipes1-description-div">
            <p class="new-recipe1-header">DID YOU KNOW!</p>
            <p class="new-recipe1-text"><strong>Hamburger Day</strong>: In the United States, May 28th is celebrated as National Hamburger Day, a day dedicated to enjoying and celebrating this iconic food.</p>
            <a href="#" class="new-recipe-link">GET THE RECIPE</a>
        </div>
    </div>

</div>
<div class="N-recipes-div">
    <img class="N-recipes" src="{% static 'new-recipes\pounded-yam-vegetable-soup.jpg' %}" alt="">
    <img class="N-recipes" src="{% static 'new-recipes\spaghetti-squash-soup.jpg' %}" alt="">
    <img class="N-recipes" src="{% static 'new-recipes\sandwich-smoked-meat_x700.webp' %}" alt="">
    <img class="N-recipes" src="{% static 'new-recipes\images (6).jpg' %}" alt="">
</div>
</div>
{% endblock %}
