.craving-container-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
    margin-right: 30px;
    column-gap: 10px;
}

.category-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 54, 88);
    height: 60px;
    margin-top: 100px;
}

.category{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    padding-right: 90px;
}

.category:hover{
    color: rgb(241, 177, 56);
}

.craving-div1{
    height: 500px;
}

.craving-div2{
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 15px;
}

.craving-text{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150px;
    font-style: normal;
    font-size: 40px;
    color: rgb(24, 51, 84);
    margin-top: 70px;
    margin-left: 25px;
    margin-bottom: 0px;
}

.caption{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350px;
    font-style: normal;
    font-size: 18px;
    color: rgb(24, 51, 84);
    margin-bottom: 10px;
    margin-left: 25px;
    margin-top: 0px;
 
}

.craving1{
    width: 100%;
    height: 500px;
    border-radius: 3px;
}

.craving{
    width: 350px;
    height: 240px;
    border-radius: 3px;
}

/* Styling for the new recipes section  */

.new-recipes-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px; 
    margin-right: 30px;
    margin-top: 20px;
}

.new-recipes1{
    width: 100%;
    height: 515px;
    border-radius: 3px;
}

.new-recipes1-description-div{
    background-color: rgb(218, 220, 223);
    padding-left: 30px;
    padding-right: 30px;
    height: 515px;
}

.new-recipe1-header{
    margin-bottom: 20px;
    margin-top: 90px;
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: 250px;
    font-style: normal;
    font-size: 60px;
    color: rgb(24, 51, 84);
}

.new-recipe1-text{
    margin-top: 2px;
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: 150px;
    font-style: normal;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 150px;
}

.new-recipe-link{
    background-color: rgb(12, 26, 73);
    font-family: 'Arial';
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: rgb(228, 223, 223);
    font-size: 15px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 15px;
    text-decoration: none;
}

.new-recipe-link:hover{
    background-color: rgb(221, 112, 10);
    color: white;
}

.N-recipes-div{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 310px 310px 310px 310px;
    column-gap: 16px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.N-recipes{
    height: 400px;
    width: 100%;
    border-radius: 3px;
}

.N-recipes-text{
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: rgb(24, 51, 84);
}

